<!DOCTYPE html>
<html lang="en">
<meta name="description" content="Whatever Cafe Apps adalah aplikasi untuk menjelajahi cafe-cafe disekitarmu!">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Whatever Cafe Apps</title>
</head>
<!-- favicon -->
<link rel="shortcut icon" href="../public/images/favicon/favicon_32x32_nGk_icon.ico">
<!-- google font -->
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;700&display=swap" rel="stylesheet">

<link rel="stylesheet" href="../styles/main.css">



<body>
    <a href="#maincontent" class="skip-link">Menuju ke konten</a>

    <!-- begin nav -->
    <nav class="drawer">
        <div class="hamburger">
            <!-- <a id="hamburger" href="#">☰</a> -->
            <button aria-label="hamburger menu" id="hamburger" class="btn-hamburger">☰</button>
        </div>
        <div class="nav-brand">
            <li><a href="/">Whatever Cafe Apps</a></li>
        </div>
        <div class="nav-menu">
            <ul class="nav-link">
                <li><a href="/">Home</a></li>
                <li><a href="#/favorite">Favorite</a></li>
                <li><a href="https://github.com/nandoputrap">About Us</a></li>
            </ul>
        </div>
    </nav>

    <nav class="hamburger-list" id="hamburger-list">
        <ul class="hamburger-link">
            <li><a href="/">Home</a></li>
            <li><a href="#/favorite">Favorite</a></li>
            <li><a href="https://github.com/nandoputrap">About Us</a></li>
        </ul>
    </nav>
    <!-- end nav -->

    <main id="mainContent">
        <!-- <div class="hero">
            <div class="hero-img">
                <img src="./images/heros/hero-image_3.jpg" alt="hero">
            </div>
            <div class="hero-caption">
                <h1>Welcome to Whatever Cafe Apps!</h1>
                <p>Let's explore whatever cafe you want!</p>
                <button><a href="#cafes">View Cafes</a></button>
            </div>
        </div>

        <div class="cafes" id="cafes">
            <div class="section-title">
                <h1>Explore Cafe</h1>
            </div>

            <div class="section-cafes">
            </div>
        </div> -->
    </main>

    <footer id="footer">
        <p>Copyright © 2021 - Whatever Cafe Apps - Nando Putra Pratama</p>
    </footer>

    <!-- <script>
        const hamburger = document.getElementById("hamburger");
        const hamburgerList = document.getElementById("hamburger-list");

        hamburger.addEventListener("click", function () {
            hamburgerList.classList.toggle("toggle");
        })
    </script> -->

    <!-- javascript -->
    <!-- <script src="../scripts/whateverapp.js"></script> -->

</body>

</html>